/* File: src/components/BottomNavigation.css */
.bottom-nav-container {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 0 16px;
  }
  
  .bottom-nav {
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
  }
  
  .nav-item:hover {
    opacity: 0.8;
  }
  
  .nav-item.active {
    color: white;
    font-weight: bold;
  }
  
  .nav-icon {
    font-size: 20px;
    margin-bottom: 2px;
  }
  
  .nav-item p {
    margin: 0;
    font-size: 12px;
  }
  
  /* For mobile devices */
  @media (max-width: 480px) {
    .bottom-nav-container {
      padding: 0 16px;
      margin-bottom: 40px;
    }
    
    .bottom-nav {
      width: 90%;
      margin-bottom: 40px;
    }
  }