/* src/Home.css */
.home-container {
    padding: 20px;
    text-align: center;
  }
  
  .day-at-glance {
    margin-top: 20px;
  }
  
  .activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .icon {
    font-size: 24px;
  }